doctype html
html
    head
        block topheader
        include ./header.pug

        // link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css")
        script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js")
        script.
            hljs.initHighlightingOnLoad();

        style.
            .hljs-keyword, .hljs-params {
                color: deeppink;
            }

            .hljs-function {
                color: darkorange;
            }

            .hljs-string {
                color: limegreen;
            }

            .hljs-number {
                color: cadetblue;
            }

            .hljs-built_in {
                color: aqua;
            }

            .hljs-attr {
                color: hotpink;
            }

            pre {
                color: white;
                padding-left: 10px;
            }

        meta(charset="UTF-8")
        include ./navigation.pug
    body
        block navigation

        center
            h4.
                #{header}

        pre
            code(class="javascript").
                #{code}