doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug
	body
		block navigation
		center
			br

			b E-mail
			a(href="mailto:supinic@pm.me")
				div supinic@pm.me

			br
			br

			a(target="_blank" href="https://github.com/")
				img(title="GitHub" alt="GitHub" style="width: 32px; height: 32px;" src="/public/img/github.png")
			br
			a(target="_blank" href="https://github.com/Supinic") Supinic

			br
			br

			a(target="_blank" href="https://twitch.tv")
				img(title="Twitch" alt="Twitch" style="height: 40px;" src="/public/img/twitch.png")
			br
			a(target="_blank" href="https://twitch.tv/supinic") Supinic

			br
			br

			a(target="_blank" href="https://discordapp.com/")
				img(title="Discord" alt="Discord" style="height: 40px;" src="/public/img/discord_1.png")
			br
			div Supinic#5238

			br
			br

			a(target="_blank" href="https://tox.chat/")
				img(alt="TOX" style="height: 32px;" src="/public/img/tox.png")
			br
			div A43F580580281EA55864F71CDA44EA5225A9C066FAA01BFA0B9086FC7E577A7B01F87A260BD2