doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug
	body
		block navigation
		center
			br
				
			img(src="public/img/pepeL.png" alt="pepeL")
			
			br
			br

			b E-mail
			br 
			a(href="mailto:supinic@pm.me") supinic@pm.me

			br
			br

			a(target="_blank" rel="noopener noreferrer" href="https://tox.chat/"): b Tox
			br
			div A43F580580281EA55864F71CDA44EA5225A9C066FAA01BFA0B9086FC7E577A7B01F87A260BD2

			br
			br

			img(alt="GitHub" style="width: 32px; height: 32px;" src="/public/img/github.png")
			br
			br
			a(target="_blank" rel="noopener noreferrer" href="https://github.com/Supinic/") Supinic
			br
			a(target="_blank" rel="noopener noreferrer" href="https://github.com/Supinic/supibot") Supibot
			br
			a(target="_blank" rel="noopener noreferrer" href="https://github.com/Supinic/supinic.com") supinic.com