doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug

		style.
			img.icon {
				width: 32px;
				height: 32px;
			}

			div.contacts {
				padding-top: 3em;
			}

	body
		block navigation
		center
			br

			div(class="container contacts")
				div(class="row")
					div(class="col d-flex justify-content-center")
						a(href="mailto:supinic@pm.me")
							img(class="icon" title="E-mail" alt="E-mail" src="/public/img/email.png")

					div(class="col d-flex justify-content-center")
						a(target="_blank" href="https://github.com/Supinic")
							img(class="icon" title="GitHub" alt="GitHub" src="/public/img/github.png")

				div(class="row")
					div(class="col d-flex justify-content-center")
						a(target="_blank" href="https://twitch.tv/supinic")
							img(class="icon" title="Twitch" alt="Twitch" src="/public/img/twitch.png")

					div(class="col d-flex justify-content-center")
						a(target="_blank" href="https://discord.gg/RtYSuV9")
							img(class="icon" title="Discord server" alt="Discord server" src="/public/img/discord.png")
