prepend topheader
	link(rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css")
	script(src="https://code.jquery.com/jquery-3.5.1.min.js")
	script(src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js")
	script(src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js")
