prepend topheader
	// DT 2.0
	// link(rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-2.0.2/datatables.min.css" integrity="sha512-CxArnvfGUT0I1QKLP/WghNWKX22EpTPFXj5rI/+LIv5+COXnN7od9ZRVpxg+STLk7YCnFosJUNRbHGhQNgni0w==")
	// script(src="https://cdn.datatables.net/v/bs4/dt-2.0.2/datatables.min.js" integrity="sha512-cGS+dGi6LhEJKRTjakZZj8Dhx7hyFA7WCFgySJuUKAtvw2ld5edaT8kVJYqbQj+do42U7QUKiBUgLrxRBlR1zw==")

	// DT 1.13
	link(rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.13.11/datatables.min.css" integrity="sha512-ELw0TNX/YeudU3Hd0ZcdR8Fx1uxvx6/3glsHf5h1nYwKX/1bBO0fTj5AfOJQCyr1xRrvqHVRjPSbw8q5jBUwqQ==")
	script(src="https://cdn.datatables.net/v/bs4/dt-1.13.11/datatables.min.js" integrity="sha512-kpqs4a3geWydz3yKtIAqZKe0TF3cXYV6fu3cRhJ0yGdqpdCkcmUAMwb/ZDq3bZ+mYWb9G8FJRf79XkVLzprFtw==")
