prepend topheader
	link(rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
	script(src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
	script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")
