doctype html
html
	head
		block topheader
		include ./header.pug
		script.
			$(document).ready(function() {
				$("#input-has-normal-name").on("click", (evt) => {
					$("#input-has-reupload").prop("disabled", !$("#input-has-reupload").prop("disabled"));
					$("#field-foreign-name").toggle();
				});

				$("#input-has-reupload").on("click", (evt) => {
					$("#input-has-normal-name").prop("disabled", !$("#input-has-normal-name").prop("disabled"));
					$("#field-foreign-name").toggle();
					$("#field-reupload-link").toggle();
				});

				$("#input-is-original").on("click", (evt) => {
					$("#field-based-on-name").toggle();
					$("#field-based-on-link").toggle();
				});

				$("#field-foreign-name").hide();
				$("#field-reupload-link").hide();

				$("form").on("submit", (evt) => {
					let fail = null;
					let values = {};
					const fields = $("form :input");

					$("form :input").each((index, field) => {
						if (field.name) {
							values[field.name] = field.value;
						}
					});			

					let ID = null;
					switch (values.Video_Type) {
						case "Youtube":  
							ID = values.Link.match(/([A-Za-z0-9_\-]{11})/);
							break;

						case "Nicovideo":
							ID = values.Link.match(/([sn]m\d+)/);
							break;

						case "Bilibili":
							ID = values.Link.match(/(av\d+)/);
							break;

						case "Vimeo":
							ID = values.Link.match(/(\d+)/);
							break;

						case "Soundcloud": 
							ID = values.Link.match(/(soundcloud.com\/[\w-]+\/[\w-]+)/);
							break;

						case "VK": 
							ID = values.Link.match(/(\d{9}_\d{9})/);
							break;

						default: fail = "Invalid video type";
					}

					if (fail === null && ID === null) {
						fail = "The video ID you posted is not in correct format";
					}
					else {
						$("#input-link").value = ID[1];
					}

					const now = new Date();
					const published = new Date(values.Published);
					if (Number.isNaN(published.valueOf())) {
						fail = "Invalid date";
					}
					else if (published > now) {
						fail = "You can predict the future? PepeLaugh";
					}
					else if (published.getFullYear() < 2007) {
						fail = "Gachi wasn't a thing at the time you provided";
					}

					if (values.Based_On === null && values.Based_On_Link === null) {
						if (!confirm("You selected for the track to have no original/based on track. Are you sure?")) {
							evt.preventDefault();
							return false;
						}
					}

					if (fail !== null) {
						alert(fail);
						evt.preventDefault();
						return false;
					}
				});
			});
		style(type="text/css").
			form {
				padding: 10px 10px 0 10px !important;
			}
		include ./navigation.pug
	body
		block navigation
		- if (!authUser) {
			center
				b Adding new data is only allowed while logged in.
				br
				div Please log in first.
		- }
		- else {
			- if (alert) {
				div(class="alert alert-success") #{alert}
			- }
			- else if (error) {
				div(class="alert alert-warning") #{error}
			- }

			a(href="https://imgur.com/a/HjsQxIG") Guidelines for foreign sites

			form(id="new-gachi" action="/gachi/add/" method="post")
				div(class="form-group row")
					div(class="col-sm-4")
						b Video type
					div(class="col-sm-8")
						select(class="form-control" name="Video_Type" id="input-video-type")
							option Youtube
							option Nicovideo
							option Bilibili
							option Vimeo
							option Soundcloud
							option VK

				div(class="form-group row")
					div(class="col-sm-4")
						b Got a Youtube reupload link?
					div(class="col-sm-8") 
						input(class="form-check-input" type="checkbox" id="input-has-reupload")

				div(class="form-group row")
					div(class="col-sm-4")
						b Is the track a 100% original composition?
					div(class="col-sm-8")
						input(class="form-check-input" type="checkbox" id="input-is-original")

				div(class="form-group row")
					div(class="col-sm-4")
						b Do you want to use a normalized name?
					div(class="col-sm-8")
						input(class="form-check-input" type="checkbox" id="input-has-normal-name")

				div(class="form-group row" id="field-name")
					label(for="input-name" class="col-sm-4 col-form-label")
						b Name
					div(class="col-sm-8")
						input(required type="text" class="form-control" name="Name"  id="input-name")

				div(class="form-group row" id="field-foreign-name")
					label(for="input-foreign-name" class="col-sm-4 col-form-label")
						b Foreign (original) name
					div(class="col-sm-8")
						input(type="text" class="form-control" name="Foreign_Name" id="input-foreign-name")

				div(class="form-group row" id="field-link")
					label(for="input-link" class="col-sm-4 col-form-label")
						b Link
					div(class="col-sm-8")
						input(required type="text" class="form-control" name="Link" id="input-link")

				div(class="form-group row" id="field-reupload-link")
					label(for="input-reupload-link" class="col-sm-4 col-form-label")
						b Youtube reupload link
					div(class="col-sm-8")
						input(type="text" class="form-control" name="Youtube_Link" id="input-reupload-link")

				div(class="form-group row" id="field-author")
					label(for="input-author" class="col-sm-4 col-form-label")
						b Author
					div(class="col-sm-8")
						input(required type="text" class="form-control" name="Author" id="input-author")

				div(class="form-group row" id="field-published")
					label(for="input-published" class="col-sm-4 col-form-label")
						b Published on
					div(class="col-sm-8")
						input(required type="date" class="form-control" name="Published" id="input-published")
				div(class="form-group row" id="field-duration")
					label(for="input-duration" class="col-sm-4 col-form-label")
						b Duration
					div(class="col-sm-8")
						input(required type="number" placeholder="Time in seconds" class="form-control" name="Length" id="input-duration" min=5 max=3600)

				div(class="form-group row" id="field-based-on-name")
					label(for="input-based-on-name" class="col-sm-4 col-form-label")
						b Based on - name
					div(class="col-sm-8")
						input(type="text" class="form-control" name="Based_On" id="input-based-on-name")
				div(class="form-group row" id="field-based-on-link")
					label(for="input-based-on-link" class="col-sm-4 col-form-label")
						b Based on - link
					div(class="col-sm-8")
						input(type="text" class="form-control" name="Based_On_Link" id="input-based-on-link")

				div(class="form-group row" id="field-notes")
					label(for="input-notes" class="col-sm-4 col-form-label")
						b Notes
					div(class="col-sm-8")
						textarea(class="form-control" id="input-notes" name="Notes" rows=3)

				div(class="form-group row" id="button-submit")
					div(class="col-sm-8")
						button(type="submit" class="btn btn-primary") Submit
		- }