append topheader
	- if (typeof title !== "undefined") {
		title.
			#{title}
	- }
	- else {
		title Supinic
	- }

	- if (typeof openGraphDefinition !== "undefined")  {
		each item in openGraphDefinition
			meta(
				property = "og:" + item.property
				content = item.content
			)
	- }

	link(rel="icon" type="image/png" href="/public/img/HACKERMAN.png")
	meta(name="robots" content="noindex")
	script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous")
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css")
