doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug

		meta(name="google-site-verification" content="lF51U5qMQbOR4gJoT33cBTiGkf89XEYfrALUxBUIhmc")
	body
		block navigation
		div(class="col-xs-1 text-center")
			p
				h3
					img(src="static/img/pepeL.png" alt="pepeL")
					.
						🔧
				h6
					| Hi. I'm&nbsp;
					strong Supinic
					| . I code stuff for a living and as a hobby.

		br

		p
			ul
				li
					h6.
						What are your projects?
					h6
						| I work on my chat bot&nbsp;
						a(href="//github.com/Supinic/supibot") Supibot
						| &nbsp;and&nbsp;
						a(href="//github.com/Supinic/supinic.com") this website
						| . Also, more smaller projects and modules connected to these.
					h6
						| The challenge I self-imposed is that every major project is being run on a Raspberry Pi 3B.

				br

				li
					h6.
						How do I get Supibot in my (insert platform here) channel?
					h6
						| Go to&nbsp;
						a(href="//github.com/Supinic/supibot#i-want-to-use-supibot") Supibot's GitHub
						| &nbsp;and read the reference on where to go next, based on your platform.

				br

				li
					h6.
						Do you stream anywhere?
					h6
						| I usually stream programming and games on Twitch. Check it out&nbsp;
						a(href="//twitch.tv/supinic") here.

					div(class="col-xs-1" id="twitch-status")
						- if (game !== null && viewers !== null) {
							h6.
								I'm streaming #{game} for #{viewers} viewers right now.
						- }
						- else {
							h6.
								I'm not currently streaming.
						- }
