doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug			
		meta(name="google-site-verification" content="lF51U5qMQbOR4gJoT33cBTiGkf89XEYfrALUxBUIhmc")
	body
		block navigation
		center
			p
				h3
					img(src="public/img/pepeL.png" alt="pepeL")
					.
						🔧
				h6
					| Hi. I'm&nbsp;
					strong Supinic
					| . I code stuff for a living and as a hobby.

		br

		p
			ul
				li
					h6.
						What are your projects?
					h6
						| I work on my chat bot&nbsp;
						a(href="//github.com/Supinic/supibot") Supibot
						| &nbsp;and&nbsp;
						a(href="//github.com/Supinic/supinic.com") this website
						| . Also, more smaller projects and modules connected to these.

				br

				li
					h6.
						How do I get Supibot in my Twitch channel?
					h6
						| Go to&nbsp;
						a(href="//twitch.tv/Supibot") Supibot's Twitch channel
						| &nbsp;and read the guide in one of the panels there.

				br

				li
					h6.
						How do I get Supibot in my Discord server?
					h6
						| An admin of said server should PM me on Discord. See&nbsp;
						a(href="/contact") Contact
						| &nbsp;for further info on contacting me.
