doctype html
html
	head
		block topheader
		include ./header.pug
		include ./navigation.pug			
		meta(name="google-site-verification" content="lF51U5qMQbOR4gJoT33cBTiGkf89XEYfrALUxBUIhmc")
	body
		block navigation
		center
			h2 Under construction
			h3 
				img(src="public/img/pepeL.png" alt="pepeL")
				.
					🔧