doctype html
html
    head
        block topheader
        include ./header.pug
        include ./navigation.pug
    body
        block navigation
        center
           img(src="/static/img/Okayga.png")
           img(src="/static/img/TeaTime.gif")
