doctype html
html
    head
        block topheader
        include ./header.pug
        include ./navigation.pug

        link(rel="stylesheet" href="/static/css/toa-calculator.css")
        script(type="module" src="/static/js/toa-calculator.js")

    body
        block navigation
        div(id="base")
            ul(id="invocation-list")
            ul(id="summary")
                li(summary="icon")
                li(summary="level")
                li(summary="damage")
                li(summary="hitpoints")
                li(summary="defence")
                li(summary="accuracy")
            ul(id="buttons")
                li
                    button(id="button-clear").
                        Clear invocations
                li
                    button(id="button-import").
                        Import selection
                li
                    button(id="button-export").
                        Export selection
